* {
    box-sizing: border-box;
}

body main * {
    display: inline-block;
}

li {
    display: list-item !important;
} 

ol, ul {
    margin: 0px
}

main {
    /* margin: 16px auto;
    padding: 12px;
    min-width: 900px;
    max-width: 900px;
    border: 4px dashed gray; */
}

em {
    font-style: normal;
    background-color: lightgray;
    padding: 0px 4px;
    border-radius: 4px;
}

hr {
    display: block !important;
}

pre {
    background-color: lightgray;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
pre::after {
    content: "COPY";
    background-color: darkgray;
    padding: 2px 4px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

@media print {
    pre::after {
        display: none;
    }
}

blockquote {
    background-color: lightgray;
    border-left: 6px solid darkgray;
    padding: 8px 8px 8px 24px;
    margin: 0;
    width: 100%;
}