* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, pre, ol, ul, blockquote {
    display: inline-block;
    width: 100%;
}

ol, ul {
    margin: 0px
}

i * {
    font-style: italic !important;
}

em {
    font-style: normal;
    background-color: lightgray;
    padding: 0px 4px;
    border-radius: 4px;
}

pre {
    background-color: lightgray;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
pre::after {
    content: "COPY";
    background-color: darkgray;
    padding: 2px 4px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

@media print {
    pre::after {
        display: none;
    }
}

blockquote {
    background-color: lightgray;
    border-left: 6px solid darkgray;
    padding: 8px 8px 8px 24px;
    margin: 0;
    width: 100%;
}

h1, h2 {
    border-bottom: 1px solid gray;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 8px;
    margin-bottom: 0px;
}
